@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style-type: none;
font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #005cbf;
}
/* #cedde6 */
header{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12%;
    /* border-bottom:1px solid #4d555a; */
    background: rgba(215, 215, 215, 0.389);
    z-index: 2;
    transition: .4s;
}

header:hover{
        /* border-bottom:1px solid #4d555a; */
        background: rgba(215, 215, 215, 0.889);
}

header .logo a{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
}



nav{
    width: 80%;
    height: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li{
    /* background: red; */
    /* margin: 1.2rem; */
    transition: .3s;
    padding: 0.2rem;
}

nav ul li span{
font-size: 0.8rem;
color: rgb(0, 0, 0);
}

nav ul li:hover{
transform: scale(1.1);
cursor: pointer;
color: #000000;
}

nav ul li a:visited{
color: inherit;
}

/* .swiper { */
    /* position: relative; */
    /* width: 100%;
    height: 100%;
    text-align: center;
} */
/* .swiper-wrapper{ */
    /* position: relative; */
/* } */
/* .swiper-slide{ */
    /* position: relative; */
    /* font-size: 18px; */
    /* background: #fff; */

    /* Center slide text vertically */
    /* display: -webkit-box;*/
    /* display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

/* .swiper .swiper-wrapper .swiper-slide h1{ */
    /* position: absolute; */
    /* width: 200px; */
    /* height: 200px; */
    /* padding: 45px; */
    /* top: 4%; */
    /* right: 3%; */
    /* background: url(img/fon-mksalf-03.jpg); */
/* } */

/* .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: center;
    
} */

/* .swiper .swiper-wrapper .swiper-slide span{
    display: block;
    color: #1a1a75;
    font-size: 2.1rem;
    font-weight: 100;
    text-align: right;
}
.swiper .swiper-wrapper .swiper-slide p{
    position: absolute;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    transform: translate(90%, -180%);
} */



/* .tagline{
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 37%;
    z-index: 3333;
    background: url(img/fon-3.png);
    /* background: #005cbf; */
    /* background-position: right; */
    /* background-size: cover; */
    /* clip-path: polygon( */
    /* 0% 0%, left top */
    /* 100% 0%, right top  */
    /* 100% 100%, right bottom */
    /* 0% 100% left bottom */
/* ); */
/* } */

/* .tagline img{
    z-index: 3333333;
    object-fit: cover;
} */

/* 
.tagline_shadow{
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 39%;
    z-index: 333;
    background: url(img/bg-slide-title.png) ;
    background: #99999908;
    background-position: left;
    background-size: cover;
    clip-path: polygon(
    48% 0%, left top
    100% 0%, right top 
    100% 100%, right bottom
    7% 100% left bottom
);
}  */

/* .tagline::before{
    content: "";
    width: 100%;
    height: ;
    border:3px solid red;
} */



/* .tagline h1{ */
    /* position: absolute; */
    /* filter: invert(1); */
    /* font-size: calc(1em + 1vw); */
    /* right: 3%; */
    /* top: 75%; */
    /* font-weight: 500; */
    /* color: #0157b2; */
    /* color: #005cbf;/ */


/* } */
.video-box { 
    position: fixed; 
    top: 0; 
    left: 0;  
    /* background: url(/images/video-bg.jpg) no-repeat #333333;   */
    /* background-size: cover;  */
    overflow: hidden;  z-index: 1; 
    width: 100%; 
    height:100%;
}

.video-box video {  
    position: absolute;  
    top: 0;  
    left: 0; 
    width: auto;  
    height: auto;  
    min-width: 100%;   
    min-height: 100%;   
}

@supports (object-fit: cover) {  
    .video-box video {    
      top: 0;    
     left: 0;    
    width: 100%;    
  height: 100%;    
 object-fit: cover;  
    } 
} 


.news_block {
    position: absolute;
    bottom: 0;
    padding: 2% 0 2% 0;
    background: #4d555a;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #cedde6;
    z-index: 4;
}
.news_block_item {
    width: 27%;
    
}

.news_block_item h3{
    font-weight: 500;
}

.news_block_item a, a:visited, a:active{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    transition: .3s;
}

.news_block_item a:hover{
color: #000000;

}

footer{
    /* position: fixed; */
    display: none;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background: #4d555ab8;
    z-index: 4;
}

footer ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 0.7rem;
}

footer ul li{
    cursor: pointer;
    width: 23%;
}




/* 
@media screen and (min-width: 1024px) {
    .tagline h1{
    color: red;
    font-size: 130%;
    }
} */

@media (min-width: 1024px) and (max-width: 2100px) {
    .logo a img {
        /* filter: invert(1); */
    }

    .tagline h1{
    /* color: red; */
font-size: calc(20px + (39 - 20) * ( (100vw - 1024px) / ( 1900 - 1024) ));;
    
    }

    nav ul li {
        /* color: red; */
    font-size: calc(12px + (18 - 12) * ( (100vw - 1024px) / ( 1900 - 1024) ));
        
        }

        .news_block  h1{
            font-size: calc(20px + (32 - 20) * ( (100vw - 1024px) / ( 1900 - 1024) ));
        }
        .news_block .news_block_item p{
    font-size: calc(12px + (18 - 12) * ( (100vw - 1024px) / ( 1900 - 1024) ));
        }

        .news_block .news_block_item h3{
            font-size: calc(14px + (20 - 14) * ( (100vw - 1024px) / ( 1900 - 1024) ));
                }

                .news_block .news_block_item a{
                    font-size: calc(14px + (20 - 14) * ( (100vw - 1024px) / ( 1900 - 1024) ));
                        }
}